@import url ('https://fonts.googleapis.com/css2? family = Roboto & display = swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family:'Roboto', sans-serif;
}

/* barra superior */
div.barraSup {
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 10px;
    color: #F3F3F3;
    background-color: black;
}

.ofertas {
    margin-left: 90px;
}

.menuRegional{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    margin-right: 90px;
}

/* fin barra superior */
/* inicio barra menu Principal */

div.barraMenuPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    top: 20px;
    background: #F0A83E;
}

.logo {    
    width: 166.38px;
    height: 23px;
    margin-left: 40px;
}

.MenuPrincipal {
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.patita1 {
    width: 15px;
    height: 14px;
    color: white;
}

/* Fin barra superior */
/*Barra Menú Principal*/

.banner {
    height: 409px;
    top: 81px;
    background: url('../images/1bowl.png');
    background-size: cover;
}

.placer {
    width: 365px;
    height: 54px;
    left: 648px;
    top: 237px;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

.comendesc {
    width: 190px;
    height: 19px;
    left: 740px;
    top: 303px;
    font-size: 16px;
    text-align: center;
}

.comederos {
    width: 141px;
    height: 49px;
    left: 767px;
    top: 334px;
    background: #F0A83E;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;

}